.bannerImage {
  width: 1000px;
  height: 200px;
  object-fit: cover;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.list-container {
  background-color: rgb(209, 237, 237);
  width: 1450px;
  height: 700px;
}

.addButton {
  border-radius: 10px;
}
